<div>
    <h1 class="card z-depth-3 center-align">Weird and Interesting: <hr> News from Oddee</h1>
    <div class="row">
      <div class="col s3"></div>
      <h5 class="card z-depth-5 center-align col s6">Featuring the crazy, strange and bizarre.</h5>
    </div>
</div>

<div class="row">
  <div class="col s2"></div>
  <div class ="col s8 left-align">
    {{#each article}}
      <div class="card-panel">
        <h4>{{this.title}}</h4>
        {{!-- goes to article.handlebars --}}
        <a href = {{this.link}} class="waves-effect waves-light btn yellow lighten-2" id="btnSignUp">Read Article</a>
        <a class="waves-effect waves-light btn yellow lighten-2" id="btnSignUp" onclick="$('#modal1').modal('open');"><i class="material-icons right">feedback</i>Comment</a>
      </div>
    {{/each}}
  </div>
</div>

 <!-- Modal Trigger -->
 <!--  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

  <!-- Modal Structure -->
{{!--   <a class="waves-effect waves-light btn view" onclick="$('#modal1').modal('open');">Comment</a> --}}
<!-- Modal Structure -->

  <div class="modal" id="modal1">
   <form action="" method="POST" class="col s12">
    <h5>Comment on this Article:</h5>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">perm_identity</i>
          <input id="icon_prefix" type="text" placeholder="Name" name="name" class="validate active">
        </div>
      </div>
      <div class="row">   
        <div class="input-field col s6">
          <i class="material-icons prefix">comment</i>
          <input id="icon_telephone" type="text" placeholder="Comment" name="comment" class="validate active">
        </div>
      </div>
       <!-- Submit Button -->
      <div class="row center-align">
        <div class="input-field center-align">
        <input class="waves-effect waves-light btn yellow lighten-2" id="btnSignUp" type="submit" value="Submit">
        </div>
      </div>
    </form>
  </div>
{{!-- <div class="row">
  <div class="col s2"></div> --}}


   {{!-- <form action="/comment/{{article.id}}" method="POST" class="waves-effect waves-light btn yellow lighten-2" id="btnSignUp">Article</a>>
    <h5>Comment on this Article:</h5>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">perm_identity</i>
          <input id="icon_prefix" type="text" placeholder="Name" name="name" class="validate active">
        </div>
        <div class="input-field">
          <i class="material-icons prefix">comment</i>
          <input id="icon_telephone" type="text" placeholder="Comment" name="comment" class="validate active">
        </div>
      </div>
       <!-- Submit Button -->
      <div class="row">
        <div class="input-field">
        <center><input class="btn add-comment-button yellow lighten-2" type="submit" value="Submit"></center>
        </div>
      </div>
    </form>
</div> --}}