body{
  background: url('../img/stardust.png') repeat;
  background-size: 600px;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*.nav-wrapper{
  background-color: #e5127d;
}*/

nav ul a {
    transition: background-color .3s;
    font-size: 1.5rem;
    color: #554b4e;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
}

.dare{
  background-color: #e5127d;
}
.brand-logo {
  font-family: 'Pacifico', cursive;
  background-color: #e5127d;
}

#btn {
  font-family: 'Oswald', sans-serif;
  color: #e5127d;
}

.card{
  background-image: url('../img/background.png');
}

h1{
  font-family: 'Trocchi', serif;
}
h4{
  font-family: 'Lora', serif;
}
h5{
  font-family: 'Oswald', sans-serif;
  color: #e5127d;
}

main{
  flex: 1 0 auto;
}

li{
  color: #e5127d;;
}

/*.articleBody{
  height: 200px;
  font-size: 20px;
  overflow-y: scroll;
  line-height: 150%;
}*/
.footer-copyright{
  font-family: 'Lora', serif;
  /*background-color: #e5127d;*/
}

#nameComment{
  /*border-bottom: 2px solid #ec407a;*/
  font-weight: bold;
  background: #ec407a;
  color: white;
}

/* label focus color */
.input-field input[type=text]:focus + label {
 color: #e99e1e;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #e91e63;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #ec407a;
}

