body{
  /*background: url('../img/img_1.png') repeat;*/
  background-size: 600px;
  background-color: black;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*.nav-wrapper{
  background-color: #e5127d;
}*/
nav{
  background: url('../img/img_1.png') repeat;
}

/*nav ul a {
    transition: background-color .3s;
    font-size: 1.5rem;
    color: #554b4e;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
}*/

i.small {
    font-size: 3rem;
}

/*.dare{
  background-color: #e5127d;
}*/

nav .brand-logo.center{
  font-family: 'Oswald', sans-serif;
  color: #e5127d;
  font-size: 56px;
}
/*.brand-logo {
  font-family: 'Pacifico', cursive;
  font-family: 'Oswald', sans-serif;
  color: #e5127d;
  background-color: #e5127d;
}*/

#btn {
  font-family: 'Oswald', sans-serif;
  color: #e5127d;
  font-size: 20px;
}

/*.card-z-depth-3-center-align{
  background-image: url('../img/background.png');
}*/

h1{
  font-family: 'Trocchi', serif;
}
h4{
  font-family: 'Lora', serif;
}
h5{
  font-family: 'Oswald', sans-serif;
  color: #e5127d;
}

main{
  flex: 1 0 auto;
}

li{
  color: #e5127d;;
}

/*.articleBody{
  height: 200px;
  font-size: 20px;
  overflow-y: scroll;
  line-height: 150%;
}*/
.footer-copyright{
  font-family: 'Lora', serif;
  background: url('../img/img_1.png') repeat;
  /*background-color: #e5127d;*/
}

#nameComment{
  /*border-bottom: 2px solid #ec407a;*/
  font-weight: bold;
  background: #ec407a;
  color: white;
}

a{
  color:  #e5127d;
}
