  <nav class"dare">
  	<div class="pink">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">#newstoyou</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="https://github.com/phatyou/news" target="_blank">Git Repo</a></li>
      </ul>
    </div>
</div>
  </nav>